[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Lock5Data"]
	path = Lock5Data
	url = https://github.com/cran/Lock5Data
[submodule "Stat2Data"]
	path = Stat2Data
	url = https://github.com/statmanrobin/stat2data
